$white:#fff;
$purple:#7828B4;
$side_bg:#EBEBEB;
$black:#000;


header {
  background-color: $purple;
  padding: 46px 0px;
  color: $white;

  .title {
    font-size: 18px;

  }

  .mainSearch {
    border: none;
    border-bottom: $white 1px solid;
    background-color: $purple;
    font-size: 20px;
    outline: none;
    color: #aaa;
    font-family: Roboto-Italic;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.50);


  }

  .mainSearch_label {
    border-bottom: $white solid 1px;
    padding-right: 7px;
    padding-bottom: 4px;
  }
}

.filter {
  width: 300px;
  background-color: $side_bg;
  padding: 40px;
  margin: 0 42px 0 32px;
  float: left;

  .title {
    color: $black;
    font-size: 20px;
  }

  .selectBlock {
    margin-bottom: 24px;

  }

}

.results {
  width: 780px;

  .results_comment {
    margin: 10px 0 70px 0;
  }

  .tag {
    .tagName {
      float: left;
      border: $purple solid 2px;
      border-radius: 30px;
      color: $purple;
      padding: 5px 10px;
      margin-right: 5px;
    }
  }

  .result_flow {
    width: 780px;

    .item {
      margin-bottom: 24px;
      
      .imageBlock {
        width: 220px;
        height: 180px;
        .image {
          width: 100%;
          height: 100%;
        }
      }

      .content {
        width: 560px;
        height: 180px;
        padding: 22px 18px;
        background-color: #fff;
        box-shadow: 3px 4px #eee;
        .title{
            color:$purple;
            margin-bottom: 20px;
        }

        .description {
          width: 520px;
          height: 34px;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 12px;
          color: $black;
        }

        .location {
          float: left;
          margin-right: 15px;
        }
        .openTime{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
      }

    }
  }
}
